nav {
    margin: 27px auto 0;

    position: relative;
    width: 590px;
    height: 50px;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
    -webkit-filter: drop-shadow(7px 7px 7px #222 );
    filter: drop-shadow(7px 7px 7px #222);
}
nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}
nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}
a:nth-child(1) {
    width: 100px;
}
a:nth-child(2) {
    width: 110px;
}
a:nth-child(3) {
    width: 100px;
}
a:nth-child(4) {
    width: 160px;
}
a:nth-child(5) {
    width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
    background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
    width: 160px;
    left: 310px;
    background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
    width: 120px;
    left: 470px;
    background-color: #e67e22;
}
 #header{
    position: relative;
    width:100%;
     height:30vh;
     z-index: -1;
}

.srilanka{
    position: absolute;
   top:10%;
    left:5%;
    height:150px;
    width:100px;
    -webkit-filter: drop-shadow(7px 7px 7px #222 );
    filter: drop-shadow(7px 7px 7px #222);
}
.topic{
    font-size: 50px;
    position: absolute;
    top:10%;
    left:15%;
    color: white;
    -webkit-animation:mymove 3s;
    -webkit-animation-iteration-count:1;
    font-family: "Bookman Old Style";
}

@keyframes mymove
{ from {top:0%;opacity: 0;}
    to {top:10%; opacity: 1}
}

.tab{
    background: linear-gradient(180deg, darkgreen,#30ff83);
}

#content{
    height:400px;
    width:100%;
    position: relative;
    z-index: -1;
}
#grad3 {
    height: 100px;
   
}

.left-bottom-text{
    position: absolute;
    bottom: 200px;
    left: 16px;
}
.para{
    font-size: 22px;
    position: absolute;
    bottom: 6px;
    left: 16px;
    width:660px;
}
.village{
    position: absolute;
    z-index: -1;
    height: 400px;
    width: 100%;
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.icon{
    position: absolute;
    top: 8px;
    right: 16px;
}
.comma{
    font-size: 70px;
}
* {
    margin: 0px;
    padding: 0px;
    outline: none;
    text-decoration: none;
    list-style: none;
    border: 0px;
    font-family: helvetica neue, helvetica, sans-serif;
    font-smooth: always;
 }
 
 .slides {
    width: 900px;
    height: 400px;
    margin: 0px auto;
    overflow: hidden;
 }
 
 .slidesContainer {
    width: 2700px; 
    -webkit-animation: slide 15s ease infinite;
    position: relative;
    z-index: -1;
   
 }
 
 .slides .slide {
    width: 900px;
    height: 400px;
    float: left;
  
 }
 
 .slides div:nth-of-type(1) {
    background: #ff8330; 
    position: relative;
 }
 
 .slides div:nth-of-type(2) {
    background: #30ff83; 
    position: relative;
 }
 
 .slides div:nth-of-type(3) {
    background: #3083ff; 
    position: relative;
 }
 
 @-webkit-keyframes slide {
   15% {margin-left: 0px;}
   30% {margin-left: 0px;}
   45% {margin-left: -900px;}
   60% {margin-left: -900px;}
   75% {margin-left: -1800px;}
   90% {margin-left: -1800px;}
   100% {margin-left: 0px;}
 }
 img{
     width:900px;
 }
 .commas{
     height: 40px;
     width:40px; 
 }