<div class="row">
  <div class="col-md-12">
    <img class="srilanka" src="https://upload.wikimedia.org/wikipedia/commons/7/7d/Flag-map-of-sri-lanka.png" />
    <img id="header" src="http://gotravelaz.com/wp-content/uploads/images/Nuwara_Eliya.jpg" />
    <p class="topic">Grama Niladhari System</p>
  </div>
  <div class="col-md-offset-4 col-md-12 tab">
    <nav>
      <a>Home</a>
      <a (click)="search()">Search</a>
      <a (click)="register()">Register</a>
      <a>Portefolio</a>
      <a>Contact</a>
      <div class="animation start-home"></div>
    </nav>
  </div>
  <div class="w3-container col-md-12" id="content">
    <div class="w3-animate-left">
      <div class="slides">
        <div class="slidesContainer">
          <div class="slide">
            <h1 class="left-bottom-text">Personal Information Management</h1>
            <p class="para"><span><img class="commas" src="/assets/images/comma1.png"></span> persons who lives in village as the user friendly
              environment.people perform in order to acquire, organize, maintain, retrieve and use personal information items.
              This is concerned with how people organize and maintain personal information collections, and methods that
              can help people in doing so.
              <span><img class="commas" src="/assets/images/comma2.png"></span></p>
            <span class="icon"><i class="fas fa-users fa-6x"></i></span>
          </div>
          <div class="slide">
            <h1 class="left-bottom-text">Building Information Management</h1>
            <p class="para"><span><img class="commas" src="/assets/images/comma1.png"></span> Buildings which situated in village as the
              user friendly environment.people perform in order to acquire, organize, maintain, retrieve and use building
              information items. This is concerned with how buildings organize and maintain building information collections,
              and methods that can help o user in doing so.
              <span><img class="commas" src="/assets/images/comma2.png"></span></p>
            <span class="icon"><i class="far fa-building fa-6x"></i></span>
          </div>
          <div class="slide">
            <h1 class="left-bottom-text">Land Information Management</h1>
            <p class="para"><span><img class="commas" src="/assets/images/comma1.png"></span> Lands which are situated in village as the
              user friendly environment.people perform in order to acquire, organize, maintain, retrieve and use land information
              items. This is concerned with how user organize and maintain land information collections, and methods that
              can help user in doing so.
              <span><img class="commas" src="/assets/images/comma2.png"></span></p>
            <span class="icon"><i class="fas fa-info-circle fa-6x"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>