<div class="align">
  <div class="topic">Register a new application.</div>
  <br/>
  <i class="fa fa-floppy-o fa-5x" aria-hidden="true"></i>
</div>
<div class="button">
  <button class="btn btn-success"  name="submit" id="submit" (click)="saveApplication()">Submit</button>
  <button class="btn btn-danger" type="submit" name="submit" id="submit">Close</button>

</div>