<div class="row">
    <div class="col-md-12">
        <img class="srilanka" src="https://upload.wikimedia.org/wikipedia/commons/7/7d/Flag-map-of-sri-lanka.png" />
        <img id="header" src="http://gotravelaz.com/wp-content/uploads/images/Nuwara_Eliya.jpg" />
        <p class="topic">Grama Niladhari System</p>
    </div>
    <div class="col-md-offset-4 col-md-12 tab">
        <nav>
            <a>Home</a>
            <a (click)="search()">Search</a>
            <a (click)="register()">Register</a>
            <a>Portefolio</a>
            <a>Contact</a>
            <div class="animation start-home"></div>
        </nav>
    </div>
    <div class="w3-container col-md-12" id="content">
        <div class="w3-center w3-animate-left col-md-offset-8 col-md-12 belowForm animated fadeIn">
            <form class="form-control">
                <div class="col-md-12 sub-topic">
                    <h1>Land Information</h1>
                </div>
                <div class="vl"></div>
                <div class="row formI1">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Province:</label>
                    </div>
                    <div class="col-md-3">
                        <select class="col-md-6 form-control" name="landType" [(ngModel)]="store.landInfo.province">
                            <option>Barren Land</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label>License No:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-6 form-control" name="licenseNo" [(ngModel)]="store.landInfo.licenseNumber">
                    </div>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>District:</label>
                    </div>
                    <div class="col-md-3">
                        <select class="col-md-6 form-control" name="landType" [(ngModel)]="store.landInfo.district">
                                    <option>Barren Land</option>
                                </select>
                    </div>
                    <div class="col-md-2">
                        <label>License Type:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-6 form-control" name="licenseType" [(ngModel)]="store.landInfo.licenseType">
                    </div>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>City:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-6 form-control" name="licenseNo" [(ngModel)]="store.landInfo.city">
                    </div>
                    <div class="col-md-2">
                        <label>Owner's Name:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-6 form-control" name="ownerName" [(ngModel)]="store.landInfo.ownerName">
                    </div>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Address 1:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-6 form-control" name="licenseNo" [(ngModel)]="store.landInfo.address1">
                    </div>
                    <div class="col-md-2">
                        <label>Ownership:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-6 form-control" name="ownerShip" [(ngModel)]="store.landInfo.ownerShip">
                    </div>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Address 2:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-6 form-control" name="licenseNo" [(ngModel)]="store.landInfo.address2">
                    </div>
                    <div class="col-md-2">
                        <label>Registered Date:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-6 form-control" name="regDate" [(ngModel)]="store.landInfo.registeredDate">
                    </div>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Address 3:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-6 form-control" name="licenseNo" [(ngModel)]="store.landInfo.address3">
                    </div>
                    <div class="col-md-2">
                        <label>Registration No:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-6 form-control" name="regNo" [(ngModel)]="store.landInfo.registrationNumber">
                    </div>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Land type:</label>
                    </div>
                    <div class="col-md-3">
                        <select class="col-md-6 form-control" name="landType" [(ngModel)]="store.landInfo.landType">
                                    <option>Barren Land</option>
                                </select>
                    </div>
                    <div class="col-md-2">
                        <label>Plan No:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-6 form-control" name="planNo" [(ngModel)]="store.landInfo.planNo">
                    </div>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Size/Extent:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-6 form-control" name="licenseNo" [(ngModel)]="store.landInfo.size">
                    </div>
                    <div class="col-md-2">
                        <label>Lot No :</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-6 form-control" name="lotNo" [(ngModel)]="store.landInfo.lotNo">
                    </div>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Cultivations:</label>
                    </div>
                    <div class="col-md-3">
                        <select class="col-md-6 form-control" name="landType" [(ngModel)]="store.landInfo.cultivations">
                                    <option>Barren Land</option>
                                </select>
                    </div>
                    <div class="col-md-2">
                        <label>Boundarries:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-6 form-control" name="boundaries" [(ngModel)]="store.landInfo.boundaries">
                    </div>
                </div>
            </form>
            <button class="btn btn-success" (click)="saveApplication()">Submit <i class="fa fa-arrow-right fa-1x" aria-hidden="true"></i></button>
            <button class="btn btn-danger">Close </button>
        </div>
    </div>
</div>