<div class="row">
    <div class="col-md-12">
        <img class="srilanka" src="https://upload.wikimedia.org/wikipedia/commons/7/7d/Flag-map-of-sri-lanka.png" />
        <img id="header" src="http://gotravelaz.com/wp-content/uploads/images/Nuwara_Eliya.jpg" />
        <p class="topic">Grama Niladhari System</p>
    </div>
    <div class="col-md-offset-4 col-md-12 tab">
        <nav>
            <a (click)="home()">Home</a>
            <a (click)="search()">Search</a>
            <a (click)="register()">Register</a>
            <a>Portefolio</a>
            <a>Contact</a>
            <div class="animation start-home"></div>
        </nav>
    </div>
    <div class="w3-container col-md-12" id="content">
        <div class="w3-center w3-animate-left  col-md-offset-8 col-md-12 belowForm">
            <form class="form-control">

                <div class="col-md-12 sub-topic">
                    <h1>Personal Information</h1>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Province:</label>
                    </div>
                    <div class="col-md-3">
                        <select class="col-md-7 form-control" name="wall" [(ngModel)]="store.personalInfo.province">
                          <option>Cement Blocks</option>
                          <option>Bricks</option>
                          <option>Clay</option>
                          <option>Concrete</option>
                          <option>Other</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                        <label>District:</label>
                    </div>
                    <div class="col-md-3">
                        <select class="col-md-7 form-control" name="waterSource" [(ngModel)]="store.personalInfo.district">
                          <option>Tap Line</option>
                          <option>Bounded Well</option>
                          <option>Unbounded Well</option>
                          <option>Other</option>
                      </select>
                    </div>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>City:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-7 form-control" name="size" [(ngModel)]="store.personalInfo.city">
                    </div>
                    <div class="col-md-2">
                        <label>Address 1:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-7 form-control" name="size" [(ngModel)]="store.personalInfo.address1">
                    </div>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Address 2:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-7 form-control" name="size" [(ngModel)]="store.personalInfo.address2">
                    </div>
                    <div class="col-md-2">
                        <label>Address 3:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-7 form-control" name="size" [(ngModel)]="store.personalInfo.address3">
                    </div>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Name in full:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-7 form-control" name="name" [(ngModel)]="store.personalInfo.name">
                    </div>
                    <div class="col-md-2">
                        <label>Driving License No:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-7 form-control" name="drivingLicense" [(ngModel)]="store.personalInfo.drivingLicenseNo">
                    </div>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>NIC:</label>
                    </div>
                    <div class="col-md-3 dropdown">
                        <input type="text" class="col-md-7 form-control" name="nic" [(ngModel)]="store.personalInfo.nic">
                    </div>
                    <div class="col-md-2">
                        <label>Size:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-7 form-control" name="size" [(ngModel)]="store.personalInfo.size">
                    </div>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Date of birth:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="date" class="col-md-7 form-control" name="dob" [(ngModel)]="store.personalInfo.dob">
                    </div>
                    <div class="col-md-2">
                        <label>Birth Place</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-7 form-control" name="birthPlace" [(ngModel)]="store.personalInfo.birthPlace">
                    </div>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Civil status</label>
                    </div>
                    <div class="col-md-3">
                        <select class="col-md-7 form-control" name="civilStatus" [(ngModel)]="store.personalInfo.civilStatus">
                            <option selected disabled>Select--</option>
                            <option>Married</option>
                            <option>Unmarried</option>
                            <option>Divorced</option>
                            <option>Separated</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label>Charactor:</label>
                    </div>
                    <div class="col-md-3">
                        <select class="col-md-7 form-control" name="charactor" [(ngModel)]="store.personalInfo.charactor">
                            <option selected disabled>Select--</option>
                            <option>Good</option>
                            <option>Very good</option>
                            <option>Bad</option>
                            <option>Punished by court</option>
                        </select>
                    </div>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Gender</label>
                    </div>
                    <div class="col-md-3">
                        <select class="col-md-7 form-control" name="gender" [(ngModel)]="store.personalInfo.gender" required>
                            <option selected disabled>Select--</option>
                            <option>Male</option>
                            <option>Female</option>
          
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label>Disabilities</label>
                    </div>
                    <div class="col-md-3">
                        <select class="col-md-7 form-control" name="disability" [(ngModel)]="store.personalInfo.disability" required>
                            <option selected disabled>Select--</option>
                            <option>None</option>
                            <option>Full</option>
                            <option>Semi</option>
                            <option>Minor</option>
                        </select>
                    </div>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Occupation:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-7 form-control" name="occupation" [(ngModel)]="store.personalInfo.occupation">
                    </div>
                    <div class="col-md-2">
                        <label>Nationality</label>
                    </div>
                    <div class="col-md-3">
                        <select class="col-md-7 form-control" name="nationality" [(ngModel)]="store.personalInfo.nationality" required>
                            <option selected disabled>Select--</option>
                            <option>Sinhalese</option>
                            <option>Sri lankan tamil</option>
                            <option>Indian tamil</option>
                            <option>Muslim</option>
                            <option>Burger</option>
                            <option>Malay</option>
                        </select>
                    </div>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Religion</label>
                    </div>
                    <div class="col-md-3">
                        <select class="col-md-7 form-control" name="religion" [(ngModel)]="store.personalInfo.religion" required>
                            <option selected disabled>Select--</option>
                            <option>Buddhist</option>
                            <option>Hindu</option>
                            <option>Islamic</option>
                            <option>Catholic</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label>Highest Education:</label>
                    </div>
                    <div class="col-md-3">
                        <select class="col-md-7 form-control" name="heighestEdu" [(ngModel)]="store.personalInfo.heighestEducation" required>
                            <option selected disabled>Select--</option>
                            <option>Less than grade 5</option>
                            <option>Less than grade 11</option>
                            <option>Passed GCE OL</option>
                            <option>Passed GCE AL</option>
                            <option>Diploma/NVQ</option>
                            <option>Degree</option>
                            <option>Postgraduate</option>
                            <option>Doctoral(PHD)</option>
                        </select>
                    </div>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Mobile No:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-7 form-control" name="mobileNo" [(ngModel)]="store.personalInfo.mobileNo">
                    </div>
                    <div class="col-md-2">
                        <label>Passport No:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-7 form-control" name="passportNo" [(ngModel)]="store.personalInfo.passportNo">
                    </div>
                </div>
                <button class="btn btn-success" (click)="saveApplication()">Submit <i class="fa fa-arrow-right fa-1x" aria-hidden="true"></i></button>
            </form>
           
        </div>
    </div>
</div>