<div class="row">
  <div class="col-lg-9 left-view">
    <img class="left-img" src="../../../assets/images/DS_IMG.JPG">
    <img class="on-img" src="../../../assets/images/DS_SRI.png">
    <div class="col-sm-8 slide">
      <p class="item-1">
      <span class="p-top">| Mission |</span><br/>To provide a service in line with the government policies, uplift the lifestyles of the society through a planned, efficient development process consisting of proper co-ordination of resources and participation of the people</p>
      <p class="item-2">
      <span class="p-top">| Vision |</span><br/>Be forward in good governance and sustainable development society</p>

      <p class="item-3"><span class="p-top">| Objectives |</span><br/>*To build a divisional level proper administrative structure in order to fulfill public expectations<br/>
          
          *To enhance the rural infrastructure facilities by proper management of public funds<br/>
          
          *To build a social security through various social welfare and cultural programmes</p>
    </div>
    <div class="animated text-title fadeInLeft bottom-right-text">Divisional Secretariat System</div><br/>
    <div class="bottom-right-small">Department of Pensions</div>

  </div>
  <div class="col-lg-3 right-view">
    <div class="row">
      <div class="col-md-12 login-text"> LOGIN TO THE SYSTEM
      </div><br/>
      <div class="col-md-10 col-md-offset-1">
        <input class="col-md-6" type="text" class="form-control" id="username" placeholder="Username"><br/><br/>
      </div>
      <div class="col-md-10 col-md-offset-1">
        <input class="col-md-6" type="text" class="form-control" id="password" placeholder="Password">
      </div><br/>
      <div class="col-md-10 col-md-offset-1" align="center">
        <button class="btn btn-primary" (click)="login()">Login</button>
      </div>
      <div class="col-md-10 col-md-offset-1 footer">
        <div class="col-md-10 f-text">
          Connect with us
        </div>
        <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="padding-right:10px"></i>
        <i class="fa fa-twitter fa-3x" aria-hidden="true" style="padding-right:10px"></i>
        <i class="fa fa-google-plus fa-3x" aria-hidden="true" style="padding-right:10px"></i>
        <i class="fa fa-skype  fa-3x" aria-hidden="true" style="padding-right:10px"></i>
      </div>
    </div>
  </div>
</div>