.left-img {
    height: 100vh;
    width:100%;
    position: relative;
    background: linear-gradient(to right, #222 , yellow);
    -webkit-box-shadow: inset -60px 0px 55px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -60px 0px 55px -18px rgba(0,0,0,0.75);
    box-shadow: inset -60px 0px 55px -18px rgba(0,0,0,0.75);  
}
.left-view{
    padding-left: 0;
    position: relative;  
}
.on-view{
    position: relative;
    top:0;
    left:0;
}

.on-img{
    height: 350px;
    width:250px;
    position: absolute;
    top:50px;
    left:50px;
    -webkit-filter: drop-shadow(7px 7px 7px #222 );
    filter: drop-shadow(7px 7px 7px #222);
}

.bottom-right-text {
    position: absolute;
    bottom: 50px;
    right: 16px;
    font-size: 50px;
    color: aliceblue;
    padding-bottom: 40px;
    padding-right: 20px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    animation:mymove 3s ease-out forwards;
    
    
    /* Safari and Chrome */
    -webkit-animation:mymove 3s;
    -webkit-animation-iteration-count:1;
    
}

@keyframes mymove
{ from {bottom:0px; opacity: 0;}
to {bottom:50px; opacity: 1}
}

@-webkit-keyframes mymove /* Safari and Chrome */
{
from {bottom:0px; opacity: 0;}
to {bottom:50px; opacity: 1;}
}

.bottom-right-small {
    position: absolute;
    bottom: 50px;
    right: 16px;
    font-size: 30px;
    color: aliceblue;
    padding-right: 20px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    animation:mymove 3s ease-out forwards;
    
    
    /* Safari and Chrome */
    -webkit-animation:mymove 3s;
    -webkit-animation-iteration-count:1;
}

.right-view{
     height: 100vh;
     width:auto;
     padding-left:25px;
}

.login-text{
    font-size: 25px;
    position: relative;
    margin-top:20px;
}

#username,#password{
    -webkit-filter: drop-shadow(6px 6px 6px #222 );
    position: relative;
    top:50%;
    padding-bottom: 10px;
    align-self: center;
}

.footer{
    position: absolute;
    bottom:50px;

}
.f-text{
    padding-left: 0;
}

.fa fa-facebook-square{
    margin-right:5px;
}
.btn{
    align-self: center;
    margin-top:50px;
    padding-left:30px;
    padding-right: 30px;
    -webkit-filter: drop-shadow(6px 6px 6px #222 );
}

.slide{
    position: absolute;
    top:20%;
    right:5%;
    color: aliceblue;
    font-size: 20px; 
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.item-1, 
.item-2, 
.item-3 {
	position: absolute;
  display: block;
	top: 2em;
  
  width: 70%;

	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 20%; opacity: 1; }
  33.33%, 100% { left: 40%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 20%; opacity: 1; }
  66.66%, 100% { left: 40%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 20%; opacity: 1; }
  100% { left: 40%; opacity: 0; }
}

.p-top{
    font-size: 35px;
}




    
