<div class="row">
    <div class="col-md-12">
        <img class="srilanka" src="https://upload.wikimedia.org/wikipedia/commons/7/7d/Flag-map-of-sri-lanka.png" />
        <img id="header" src="http://gotravelaz.com/wp-content/uploads/images/Nuwara_Eliya.jpg" />
        <p class="topic">Grama Niladhari System</p>
    </div>
    <div class="col-md-offset-4 col-md-12 tab">
        <nav>
            <a (click)="home()">Home</a>
            <a (click)="search()">Search</a>
            <a (click)="register()">Register</a>
            <a>Portefolio</a>
            <a>Contact</a>
            <div class="animation start-home"></div>
        </nav>
    </div>
    <div class="w3-container col-md-12" id="content">
        <div class="w3-center w3-animate-left col-md-offset-8 col-md-12 animated-fadeIn belowForm">
            <form class="form-control">
                <div class="col-md-12 sub-topic">
                    <h1>Building Information</h1>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Province:</label>
                    </div>
                    <div class="col-md-3">
                        <select class="col-md-7 form-control" name="wall" [(ngModel)]="store.buildingInfo.province">
                          <option>Cement Blocks</option>
                          <option>Bricks</option>
                          <option>Clay</option>
                          <option>Concrete</option>
                          <option>Other</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                        <label>District:</label>
                    </div>
                    <div class="col-md-3">
                        <select class="col-md-7 form-control" name="waterSource" [(ngModel)]="store.buildingInfo.district">
                          <option>Tap Line</option>
                          <option>Bounded Well</option>
                          <option>Unbounded Well</option>
                          <option>Other</option>
                      </select>
                    </div>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>City:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-7 form-control" name="size" [(ngModel)]="store.buildingInfo.city">
                    </div>
                    <div class="col-md-2">
                        <label>Address 1:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-7 form-control" name="size" [(ngModel)]="store.buildingInfo.address1">
                    </div>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Address 2:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-7 form-control" name="size" [(ngModel)]="store.buildingInfo.address2">
                    </div>
                    <div class="col-md-2">
                        <label>Address 3:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-7 form-control" name="size" [(ngModel)]="store.buildingInfo.address3">
                    </div>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Wall:</label>
                    </div>
                    <div class="col-md-3">
                        <select class="col-md-7 form-control" name="wall" [(ngModel)]="store.buildingInfo.wall">
                          <option>Cement Blocks</option>
                          <option>Bricks</option>
                          <option>Clay</option>
                          <option>Concrete</option>
                          <option>Other</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                        <label>Water Source:</label>
                    </div>
                    <div class="col-md-3">
                        <select class="col-md-7 form-control" name="waterSource" [(ngModel)]="store.buildingInfo.waterSource">
                          <option>Tap Line</option>
                          <option>Bounded Well</option>
                          <option>Unbounded Well</option>
                          <option>Other</option>
                      </select>
                    </div>
                </div>
                
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Roof:</label>
                    </div>
                    <div class="col-md-3 dropdown">
                        <select class="col-md-7 form-control" name="roof" [(ngModel)]="store.buildingInfo.roof">
                          <option>Asbastoes</option>
                          <option>Metal Plates</option>
                          <option>Roof Tiles</option>
                          <option>Other</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                        <label>Size:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-7 form-control" name="size" [(ngModel)]="store.buildingInfo.size">
                    </div>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Floor:</label>
                    </div>
                    <div class="col-md-3">
                        <select class="col-md-7 form-control" name="floor" [(ngModel)]="store.buildingInfo.floor">
                          <option>Tiles</option>
                          <option>Cement</option>
                          <option>Concrete</option>
                          <option>Clay</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                        <label>Building Type:</label>
                    </div>
                    <div class="col-md-3">
                        <select class="col-md-7 form-control" name="type" [(ngModel)]="store.buildingInfo.type">
                          <option>No Stores</option>
                          <option>1 store</option>
                          <option>2 Store</option>
                          <option>Other</option>
                      </select>
                    </div>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Sanctary Facilities:</label>
                    </div>
                    <div class="col-md-3">
                        <select class="col-md-7 form-control" name="sanctary" [(ngModel)]="store.buildingInfo.sanctaryFacilities">
                          <option>Water Sealed Toilet</option>
                          <option>Water Sealed Commode</option>
                          <option>Pit Toilet</option>
                          <option>No Toilet</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                        <label>Utilities:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-7 form-control" name="utilities" [(ngModel)]="store.buildingInfo.utilities">
                    </div>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Electricity:</label>
                    </div>
                    <div class="col-md-3">
                        <select class="col-md-7 form-control" name="electricity" [(ngModel)]="store.buildingInfo.electricity">
                          <option>Connected</option>
                          <option>Not Connected</option>
        
                      </select>
                    </div>
                    <div class="col-md-2">
                        <label>Electoral Registration No:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="col-md-7 form-control" name="elecNo" [(ngModel)]="store.buildingInfo.electoralRegNo">
                    </div>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-3">

                    </div>

                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
                <div class="row formI">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
            </form>
            <button class="btn btn-success" (click)="saveApplication()">Submit <i class="fa fa-arrow-right fa-1x" aria-hidden="true"></i></button>
            <button class="btn btn-danger">Close</button>
        </div>
    </div>
</div>