<div class="row">
  <div class="col-md-12">
    <img class="srilanka" src="https://upload.wikimedia.org/wikipedia/commons/7/7d/Flag-map-of-sri-lanka.png" />
    <img id="header" src="http://gotravelaz.com/wp-content/uploads/images/Nuwara_Eliya.jpg" />
    <p class="topic">Grama Niladhari System</p>
  </div>
  <div class="col-md-offset-4 col-md-12 tab">
    <nav>
      <a (click)="home()">Home</a>
      <a (click)="search()">Search</a>
      <a (click)="register()">Register</a>
      <a>Portefolio</a>
      <a>Contact</a>
      <div class="animation start-home"></div>
    </nav>
  </div>
  <div class="w3-container col-md-12" id="content">
    <div class="w3-center w3-animate-left container">
      <div align="center">
        <h1>Search Person</h1>
      </div>
      <form class="form-control search">
        <div class="row">
          <div class="col-md-4">
            <div class="row bar">
              <label class="col-md-3">NIC :</label>
              <div class="col-md-1"></div>
              <input type="text" class="col-md-7 form-control" name="boundaries">

            </div>
          </div>
          <div class="col-md-4">
            <div class="row bar">
                <label class="col-md-3">Name :</label>
                <div class="col-md-1"></div>
              <input type="text" class="col-md-7 form-control" name="boundaries" >
            </div>
          </div>
          <div class="col-md-4">
            <div class="row bar">
                <label class="col-md-3">Gender:</label>
                <div class="col-md-1"></div>
              <input type="text" class="col-md-7 form-control" name="boundaries" >

            </div>
          </div>
        </div>
      </form>
      <form class="form-control form-table">
        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th>Province</th>
              <th>District</th>
              <th>City</th>
              <th>Name</th>
              <th>NIC</th>
              <th>View</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let persons of appBasic.viewPersons">
             <td>{{persons.province}}</td>
             <td>{{persons.district}}</td>
             <td>{{persons.city}}</td>
             <td>{{persons.name}}</td>
             <td>{{persons.nic}}</td>
             <td><button class="btn btn-primary">View</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>