<div class="row">
  <div class="col-md-12">
    <img class="srilanka" src="https://upload.wikimedia.org/wikipedia/commons/7/7d/Flag-map-of-sri-lanka.png" />
    <img id="header" src="http://gotravelaz.com/wp-content/uploads/images/Nuwara_Eliya.jpg" />
    <p class="topic">Grama Niladhari System</p>
  </div>
  <div class="col-md-offset-4 col-md-12 tab">
    <nav>
      <a (click)="home()">Home</a>
      <a (click)="search()">Search</a>
      <a (click)="register()">Register</a>
      <a>Portefolio</a>
      <a>Contact</a>
      <div class="animation start-home"></div>
    </nav>
  </div>
  <div class="col-md-12" id="content" align="center">
    <div class="row tiles">
      <div class="col-md-1"></div>
      <div class="card" style="width: 20rem;">
        <div class="card-block">
          <span><i class="fa fa-users fa-3x" aria-hidden="true"></i></span>
          <h3 class="card-title">Person</h3>
          <p class="card-text">Search system registerd persons.</p>
          <a (click)="searchPerson()" class="btn btn-primary">Go <span><i class="fa fa-arrow-right fa-1x" aria-hidden="true"></i></span></a>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="card" style="width: 20rem;">
        <div class="card-block">
            <span><i class="far fa-building fa-3x"></i></span>
          <h3 class="card-title">Building</h3>
          <p class="card-text">Search system registerd buildings.</p>
          <a (click)="searchBuilding()" class="btn btn-primary">Go <span><i class="fa fa-arrow-right fa-1x" aria-hidden="true"></i></span></a>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="card" style="width: 20rem;">
        <div class="card-block">
            <span><i class="fa fa-info-circle fa-3x" aria-hidden="true"></i></span>
          <h3 class="card-title">Land</h3>
          <p class="card-text">Search system registerd lands.</p>
          <a (click)="searchLand()" class="btn btn-primary">Go <span><i class="fa fa-arrow-right fa-1x" aria-hidden="true"></i></span></a>
        </div>
      </div>
    </div>
  </div>
</div>