<div class="col-md-offset-8 col-md-12 belowForm">
    <form>
        <div class="col-md-12 sub-topic">
            <h1>Add Location</h1>
        </div>
        <div class="row formI1">
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <label>Geo. coordinate:</label>
            </div>
            <div class="col-md-5">
                <div class="row coordinate">
                    <input type="text" class="col-md-1 form-control" placeholder="X" name="coordinates" [(ngModel)]="store.location.coordinateX">
                    <input type="text" class="col-md-1 form-control" placeholder="Y" name="coordinates" [(ngModel)]="store.location.coordinateY">
                    <input type="text" class="col-md-1 form-control" placeholder="Z" name="coordinates" [(ngModel)]="store.location.coordinateZ">
                </div>
            </div>
        </div>
        <div class="row formI">
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <label>Address Line 1:</label>
            </div>
            <div class="col-md-5">
                <input type="text" class="col-md-4 form-control" name="address1" [(ngModel)]="store.location.address1">
            </div>
        </div>
        <div class="row formI">
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <label>Address Line 2:</label>
            </div>
            <div class="col-md-5">
                <input type="text" class="col-md-4 form-control" name="address2"  [(ngModel)]="store.location.address2">
            </div>
        </div>
        <div class="row formI">
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <label>Address Line 3:</label>
            </div>
            <div class="col-md-5">
                <input type="text" class="col-md-4 form-control" name="address3"  [(ngModel)]="store.location.address3">
            </div>
        </div>
        <div class="row formI">
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <label>Rate No:</label>
            </div>
            <div class="col-md-5">
                <input type="text" class="col-md-4 form-control" name="rateNo" [(ngModel)]="store.location.rateNo">
            </div>
           
        </div>

    </form>
</div>